.inline { display: inline }

// google maps
.angular-google-map-container { height: 480px; }

// restaurant list styles
.red { color: red; }

.gridStyle { height: 400px; }

// slide
.slide.ng-leave {
  position: relative;
}
.slide.ng-enter {
  position: absolute;
}
.slide.ng-enter, .slide.ng-leave {
  -webkit-transition: -webkit-transform 0.3s ease-in, opacity 0.3s ease-in;
     -moz-transition: -moz-transform 0.3s ease-in, opacity 0.3s ease-in;
       -o-transition: -o-transform 0.3s ease-in, opacity 0.3s ease-in;
          transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}
.slide.ng-enter, .slide.ng-leave.ng-leave-active {
  -webkit-transform: scaleX(0.0001);
       -o-transform: scaleX(0.0001);
          transform: scaleX(0.0001);
  opacity: 0;
}
.slide, .slide.ng-enter.ng-enter-active {
  -webkit-transform: scaleX(1);
       -o-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 1;
}

// login form
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading {
  margin-bottom: 10px;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
