<div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
    
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#admin-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
            <a class="navbar-brand" ui-sref="dashboard.restaurants">Menu-web.com</a>
        </div>
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="admin-navbar-collapse">
            <ul class="nav navbar-nav">
                <!-- Here you can see ui-sref in action again. Also notice the use of $state.includes, which
                will set the links to 'active' if, for example on the first link, 'contacts' or any of
                its descendant states are activated. -->
                <li ng-class="{active: $state.includes('restaurants')}"><a ui-sref="dashboard.restaurants">Restaurants</a></li>
                <li ng-class="{active: $state.includes('translations')}"><a ui-sref="dashboard.translations">Translations</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><p class="navbar-text navbar-right">Signed in as {{ userName }}</p></li>
                <li><a ui-sref="logout"><span class="glyphicon glyphicon-off"></span></a></li>
            </ul>
        </div>
    </div>
</div>

<!-- Status dialog -->
<div ui-view class="container slide" style="padding-top: 80px;"></div>

<div class="modal fade" id="save-modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Status: {{ progessAction }}</h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%;">
                        <span class="sr-only">{{progress}}% Complete</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
