<div class="page-header">
  <h1>Dishes of {{ currentRestaurant.getName() }}</h1>
</div>
<div class="row">
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">New Dish</h3>
    </div>
    <div class="panel-body">
        <form class="form-inline" role="form">
            <div class="form-group">
                <label class="sr-only" for="restaurantName">Name:</label>
                <input type="text" id="name" ng-model="dish.name" placeholder="Dish name">
            </div>
            <button type="submit" class="btn btn-primary" ng-click="create(dish)">Create</button>
        </form>
    </div>
</div>
</div>
<div class="row">
  <div class="gridStyle" ng-grid="gridOptions"></div>
</div>
