<div class="page-header">
  <h1>Dishes of {{ currentRestaurant.getName() }}</h1>
</div>
<ol class="breadcrumb">
  <li><a ui-sref="dashboard.restaurants">Home</a></li>
  <li><a ui-sref="^">Restaurants</a></li>
  <li class="active">{{ currentRestaurant.getName() }}</li>
</ol>  
<div class="row">
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">New Dish</h3>
    </div>
    <div class="panel-body">
        <form class="form-inline" role="form">
            <div class="form-group">
                <label class="sr-only" for="restaurantName">Name:</label>
                <input type="text" id="name" ng-model="dish.name" placeholder="Dish name">
            </div>
            <div class="form-group">
                <label for="category" class="sr-only">Category:</label>
                <div class="col-sm-10">
                    <select class="form-control" id="category" ng-model="dish.category" ng-options="c.id as c.name for c in categories"></select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="create(dish)">Create</button>
        </form>
    </div>
</div>
</div>
<div class="row">
  <div class="gridStyle" ng-grid="gridOptions"></div>
</div>
