<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <form class="navbar-form navbar-right" role="search" ng-click>
            <div class="col-xs pull-right">
                <button class="btn btn-default" ng-show="query" ng-click="resetQuery()" type="button"><span class="glyphicon glyphicon-remove-circle"></span></button>
            </div>
            <div class="col-xs-4 pull-right">
                <div class="input-group">
                    <input type="search" class="form-control" placeholder="Find a restaurant" ng-model="query">
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="find(query)" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </div>
        </form>    
    </div>
</nav>

<div class="row marketing">
  <google-map center='map.center' zoom='map.zoom' draggable="true" options='{streetViewControl:false}'>
    <markers models="map.markers" coords="'self'" click="'onClicked'" icon="'icon'" 
             doCluster="map.doCluster" clusterOptions="map.clusterOptions">
        <windows show="'showWindow'" closeClick="'closeClick'">
            <h2 ng-non-bindable> {{ title }}</h2>
            <p class="muted">Available translations:<span class="badge">4</span></p>
        </windows>
    </markers>
  </google-map>
</div>

<div class="footer">
  <p>&copy; Menu-web: Restaurants in your language</p>
</div>
