<ion-view title="'Restaurants'" right-buttons="rightButtons">
<ion-side-menus>
  <!-- Center content -->
  <ion-pane ion-side-menu-content>
  <google-map center='map.center' zoom='map.zoom' draggable="true" options='{streetViewControl:false}'>
    <markers models="map.markers" coords="'self'" click="'onClicked'" icon="'icon'" 
             doCluster="map.doCluster" clusterOptions="map.clusterOptions">
        <windows show="'showWindow'" closeClick="'closeClick'">
            <h3 ng-non-bindable> {{ title }}</h3>
            <p ng-non-bindable class="muted">Languages: <span class="badge" id="tanslations_{{id}}">{{ translationNumber }}</span></p>
        </windows>
    </markers>
  </google-map>
    </ion-pane>

  <!-- Right menu -->
  <ion-side-menu side="right">
  </ion-side-menu>
</ion-side-menus>


<!--
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="row">
            <form class="navbar-form navbar-right" role="search" ng-click>
                <div class="col-xs pull-right">
                    <button class="btn btn-default" ng-show="query" ng-click="resetQuery()" type="button"><span class="glyphicon glyphicon-remove-circle"></span></button>
                </div>
                <div class="col-xs-6 pull-right">
                    <div class="input-group">
                        <input type="search" class="form-control" placeholder="Find a restaurant" ng-model="query">
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="find(query)" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </div>
            </form>    
        </div>
    </div>
</nav>
-->

</ion-view>
<!--
<div class="footer">
  <p>&copy; Menu-web: Restaurants in your language</p>
</div>
-->
