<div class="page-header">
  <h1>New Restaurant</h1>
</div>
<form name="newRestaurantForm" class="form-horizontal" role="form">
    <div class="form-group has-feedback" ng-class="{'has-error': newRestaurantForm.$dirty && newRestaurantForm.name.$error.required, 'has-success': !newRestaurantForm.name.$error.required}">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name" ng-model="restaurant.name" required>
        </div>
    </div>
    <div class="form-group has-feedback">
        <label for="logoFile" class="col-sm-2 control-label">Logo File</label>
        <div class="col-sm-10">
            <input type="file" id="logoFile" name="logoFile">
        </div>
    </div>
    <div class="form-group has-feedback">
        <label for="description" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
            <textarea class="form-control" rows="3" id="description" name="description" placeholder="Enter Description" ng-model="restaurant.description"></textarea>
        </div>
    </div>
    <div class="form-group has-feedback" ng-class="{'has-error': newRestaurantForm.$dirty && !map.clickedMarker.latitude, 'has-success': map.clickedMarker.latitude}">
        <label class="col-sm-2 control-label">Location</label>
        <div class="col-sm-10">
            <google-map center='map.center' zoom='map.zoom' draggable="true" options='{streetViewControl:false}' events="map.events">
                <marker coords="map.clickedMarker">
                </marker>
            </google-map>
        </div>
    </div>
    <div class="form-group has-feedback" ng-class="{'has-error': newRestaurantForm.$dirty && newRestaurantForm.address.$error.required, 'has-success': !newRestaurantForm.address.$error.required}">
        <label for="address" class="col-sm-2 control-label">Address</label>
        <div class="col-sm-10">
            <textarea class="form-control" rows="3" id="address" name="address" placeholder="Enter Address" ng-model="restaurant.address" required=""></textarea>
        </div>
    </div>
    <div class="form-group has-feedback" ng-class="{'has-error': newRestaurantForm.$dirty && newRestaurantForm.postalCode.$error.required, 'has-success': !newRestaurantForm.postalCode.$error.required}">
        <label for="postalCode" class="col-sm-2 control-label">Postal Code</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="postalCode" name="postalCode" placeholder="Enter Postal Code" ng-model="restaurant.postalCode" required="">
        </div>
    </div>
    <div class="form-group has-feedback" ng-class="{'has-error': newRestaurantForm.$dirty && newRestaurantForm.city.$error.required, 'has-success': !newRestaurantForm.city.$error.required}">
        <label for="city" class="col-sm-2 control-label">City</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="city" name="city" placeholder="Enter City" ng-model="restaurant.city" required="">
        </div>
    </div>
    <div class="form-group has-feedback" ng-class="{'has-error': newRestaurantForm.$dirty && newRestaurantForm.state.$error.required, 'has-success': !newRestaurantForm.state.$error.required}">
        <label for="state" class="col-sm-2 control-label">Province</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="state" name="state" placeholder="Enter Province" ng-model="restaurant.state" required>
        </div>
    </div>
    <div class="form-group has-feedback" ng-class="{'has-error': newRestaurantForm.$dirty && newRestaurantForm.language.$error.required, 'has-success': !newRestaurantForm.language.$error.required}">
        <label for="language" class="col-sm-2 control-label">Initial Language</label>
        <div class="col-sm-10">
            <select class="form-control" id="language" name="language" ng-model="restaurant.language" ng-options="l.id as l.name for l in languages" required></select>
        </div>
    </div>
    <div class="form-group has-feedback" ng-class="{'has-error': newRestaurantForm.$dirty && newRestaurantForm.pricerange.$error.required, 'has-success': !newRestaurantForm.pricerange.$error.required}">
        <label for="pricerange" class="col-sm-2 control-label">Prize Range</label>
        <div class="col-sm-10">
            <select class="form-control" id="pricerange" name="pricerange" ng-model="restaurant.pricerange" ng-options="p.id as p.name for p in priceranges" required></select>
        </div>
    </div>
    <div class="form-group">
        <label for="category" class="col-sm-2 control-label">Category</label>
        <div class="col-sm-10 controls">
          <label ng-repeat="categ in categories" class="checkbox">
            <input type="checkbox" name="category[]" value="{{ categ.name }}" ng-click="toggleSelection(categ.id)">{{categ.name}}
          </label><br/>
        </div>
    </div>
    <div class="form-group">
        <label for="dishesCategory" class="col-sm-2 control-label">Dishes Categories</label>
        <div class="col-sm-10">
            <input type="hidden" id="dishesCategory">
            <div class="gridStyle" ng-grid="dishesCategoryGridOptions"></div>
            <a class="btn btn-info" ng-click="addCategories()"><span class="glyphicon glyphicon-plus">More categories</a>
        </div>
    </div>
    <div class="form-group">
        <label for="dishes" class="col-sm-2 control-label">Dishes</label>
        <div class="col-sm-10">
            <input type="hidden" id="dishes">
            <div class="gridStyle" ng-grid="gridOptions"></div>
            <a class="btn btn-info" ng-click="addDishes()"><span class="glyphicon glyphicon-plus">More dishes</a>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-primary" ng-disabled="newRestaurantForm.$invalid" ng-click="save(restaurant)">Save</button>
        </div>
    </div>
</form>
<div class="row">
<div class="alert alert-danger alert-dismissable" ng-show="currentError">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  {{ currentError }}
</div>
</div>
